.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### native files
api/src/main/c/libpni.so
api/src/main/c/libpni.dylib
api/src/main/c/pni.dll
acceptance-testing/src/test/c/libpnitest.so
acceptance-testing/src/test/c/libpnitest.dylib
acceptance-testing/src/test/c/pnitest.dll
sample/src/main/c/libpnisample.so
sample/src/main/c/libpnisample.dylib
sample/src/main/c/pnisample.dll
graal-test/src/main/c/libgraaltest.so
graal-test/src/main/c/libgraaltest.dylib
graal-test/src/main/c/graaltest.dll

playground/src/*
!playground/src/main
playground/src/main/*
!playground/src/main/c
playground/src/main/c/*
!playground/src/main/c/make-playground.sh

!playground/src/main/c-generated
playground/src/main/c-generated/*
!playground/src/main/c-generated/.gitkeep

!playground/src/main/java
playground/src/main/java/**/*.java

!playground/src/main/generated
playground/src/main/generated/**/*.java

!playground/src/main/template
playground/src/main/template/**/*.java

*.log

sample/sample.run
sample/sample.exe
pni.run
pni.exe
graal-test/graal-test.run
graal-test/graal-test.exe
